chainer==6.5.0
click==7.1.2
filelock==3.0.12
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.17.4
protobuf==3.10.0
six==1.13.0
typing==3.6.6
typing-extensions==3.6.6
Werkzeug==1.0.1
